/*Grid*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main{
    border: 1px solid red;
    display: grid;
    grid-template: 
    "A A A A" 64px
    "B C C C" 120px 
    "B D E F" 
    "B D E F" 
    "B G G G" 120px / 1fr 1 fr 1fr 1fr ;
    height: 100vh;
    padding: 0 64px;
}
div{
    border: 1px solid blue;
}

div:nth-child(1){
    grid-area: A;
}
div:nth-child(2){
    grid-area: B;
}
div:nth-child(3){
    grid-area: C;
}
div:nth-child(4){
    grid-area: D;
}
div:nth-child(5){
    grid-area: E;
}
div:nth-child(6){
    grid-area: F;
}
div:nth-child(7){
    grid-area: G;
}
